/* Reset styles */
header,
main,
section,
footer {
  display: block;
}
h3 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
input,
button {
  margin: 0;
  outline: none;
  overflow: visible;
  font-family: inherit;
}
button {
  background: none;
  border: 0;
}
[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

/* Common */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

/* Top block */
.top-block {
  width: 500px;
  margin: 0 auto 30px;
  display: block;
  text-align: right;
}
.top-block__img {
  width: 100%;
}
.top-block__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .top-block {
    text-align: center;
  }

}

.wrapper {
  display: block;
  width: 500px;
  margin: 0 auto;
}

.tasks + .tasks {
  margin-top: 30px;
}
.tasks__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 0 0 10px;
  margin: 0;
  text-transform: uppercase;
}

/* Task */
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.task + .task {
  border-top: 1px solid #eee;
}
.task__check {
  margin: 0 10px;
}
.task__text,
.task__input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.task__text {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.task__input {
  width: 226px;
  height: 21px;
  margin: 0;
  padding: 0 9px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-family: inherit;
  font-size: 18px;
  line-height: 18px;
  background: #fff;
  color: #888;
}
.task__input:focus {
  color: #333;
}

/* Buttons */
.btn {
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: inherit;
  cursor: pointer;
}
.btn:hover {
  color: #3a3a3a;
}

/* Icons */
.ico {
  display: inline-block;
  width: 2em;
  height: 2em;
}
.ico_delete {
  background: url(remove.svg) center center no-repeat;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.btn:hover .ico_delete {
  transform: rotateZ(0);
}

/* Edited task */
.task__input,
.task_edited > .task__text {
  display: none;
}
.task_edited > .task__input {
  display: inline-block;
  width: 224px;
}

/* New task */
.task__input_new {
  display: inline-block;
  width: 318px;
}

/* Completed tasks */
.tasks_completed .task__text {
  text-decoration: line-through;
  color: #888;
}
